
@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required maxlength="50"/>
    </div>
    <div>
        <label>Kategori Seçiniz</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new {@class="form-control" })
    </div>

    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" required />
    </div>
    <div>
        <label>Markası</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Marka....♥" required />
    </div>
    <div>
        <label>Stok Adet</label>
        <input type="text" class="form-control" name="STOK" required />
    </div>


    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>

</form>
