@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERIAD, "", new { @style = "color:green" })
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MUSTERISOYAD, "", new { @style = "color:green" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri Ekleme İşlemi Yapıldı.....');
        });

    </script>
</form>

