@using MvcStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Kategori", FormMethod.Get))
{
    <p>
        <b>Arama Yap </b>@Html.TextBox("p", "", new { @class = "form-control" })

    </p>

}

<table class="table table-bordered">
    <tr>
        <th>
            KATEGORİ ID
        </th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.KATEGORIID</th>
                <td>@ktgr.KATEGORIAD</td>
                <td><a href="/KATEGORI/SIL/@ktgr.KATEGORIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/KATEGORI/KategoriGetir/@ktgr.KATEGORIID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/KATEGORI/YeniKategori" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
